<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/account-management.css">
    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>

    <title>Document</title>
</head>

<body>
    <main>
        <!-- Định dạng mcolumn;nền của trang -->
        <div class="mainLight"></div>
        </div>

        <!-- màn hình chính -->
        <div class="main-Space">
            <div class="controlBar">
                <div class="manageSong"> Quản lý bài hát

                </div>

                <div class="manageAccount">
                    <div class="content">
                        <p id="account">Quản lý tài khoản</p>

                        <div class="figure">
                            <p>
                                <iconify-icon icon="line-md:plus-circle-filled" width="1.2em"
                                    height="1.2em"></iconify-icon>
                                Thêm tài khoản
                            </p>
                            <p>
                                <iconify-icon icon="mdi:pencil-circle" width="1.2em" height="1.2em"></iconify-icon>
                                Cập nhật tài khoản
                            </p>
                            <p>
                                <iconify-icon icon="streamline:recycle-bin-2-solid" width="1.2em"
                                    height="1.2em"></iconify-icon>
                                Xóa tài khoản
                            </p>
                        </div>
                    </div>
                </div>

                <div class="Report">
                    <p id="account">
                        <iconify-icon icon="carbon:report" width="1.2em" height="1.2em"
                            style="color: white"></iconify-icon>
                        Báo cáo
                    </p>


                </div>

            </div>
        </div>

    </main>


</body>

</html>