@font-face {
  font-family: 'Inter', sans-serif;
    src: url('/public/assets/font/Inter-BoldItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    color: #fff;
}

body {

  /*text-align: center;*/
  margin: auto;
  background-color: #000000;
}

main {
  display: flex;
  background-color: #000000;
  /*text-align: center;*/
  width: 100%;
  height: 100%;
}

* {
  font-family: 'Inter', sans-serif;
  color: #000000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

html,
body {
  scroll-behavior: smooth;
  height: 100%;

}

body:active {
  cursor: grabbing;
  /* Đổi biểu tượng con trỏ khi đang kéo */
}

p,
img,
.logo,
div,
iconify-icon,
span,
ul,
li,
h3,
h4 {
  background-color: transparent;
  /* Đảm bảo nền trong suốt */
  display: flex;
}

h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 110%;
}

h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 110%;
  margin: 0;
}

.mainLight {
  position: fixed;
  width: 1030px;
  height: 651px;
  left: 318px;
  top: 200px;
  border-radius: 50%/50%;

  background: conic-gradient(from 24.89deg at 50% 50%, #3A2145 -6.85deg, #296265 31.06deg, #000000 109.37deg, #000000 139.56deg, #233949 214.7deg, #000000 244.08deg, #3A2145 353.15deg, #296265 391.06deg);
  filter: blur(40px);
}

.adminleft {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: #000000;
}

.controlBar {
  display: flex;
  position: relative;
  max-width: 329px;
  max-height: 474px;
  left: 30px;
  top: 127px;
  flex-direction: column;
  z-index: -10;

}

.controlBar .manageSong {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 10px;
  width: 329px;
  height: 74px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(202, 197, 197, 0.15);
  border-radius: 10px 20px 20px 10px;

  font-family: 'ExtraBold', sans-serif;
  font-size: 24px;
  font-weight: bold;

}


.controlBar .manageAccount {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 10px;

  width: 329px;
  height: 286px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px 20px 20px 10px;

  margin-top: 20px;
}



.Report #account {
  font-family: 'ExtraBold', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 0%;
}



.controlBar .Report {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 10px;

  width: 329px;
  height: 74px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px 20px 20px 10px;
  margin-top: 20px;
  font-family: 'ExtraBold', sans-serif;
  font-size: 24px;
  font-weight: bold;

}

p {
  margin-top: 36px;
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  font-size: 18px;
  font-family: 'Inter', 'Semibold', 'Helvetica Neue', Helvetica, Arial;
  font-weight: bold;
}

p:hover {
  background: rgba(243, 241, 241, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  cursor: pointer;
  padding: 3px;
  transition: background 0.2s ease, border 0.2s ease;
  color: aqua;
}

.accountSpace {


  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 40px;

  position: absolute;
  width: 1032px;
  height: 600px;
  left: 390px;
  top: 126px;
  overflow-y: scroll;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 20px 10px 10px 20px;
  overflow: hidden;

}

.accountSpace .findSong {
  display: flex;
  height: 44px;
  width: 487px;
  gap: 40px;

}

.accountSpace .findSong .boxInput {
  width: 340px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.accountSpace .findSong .boxInput #boxFind {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 10px;
  width: 340px;
  height: 44px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 30px;
  padding: 0%;
  border: 0px;
  padding-left: 50px;

}

#find {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 18px;
  gap: 10px;

  width: 107px;
  height: 44px;

  background: #296265;
  border-radius: 61px;
  border: 0px;

}

.search-ic {
  margin-left: 20px;
  position: absolute;


}

table {
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 984px;
  border-color: transparent;
  background-color: transparent;
}

th,
td {
  text-align: left;
  background-color: transparent;
  /* font-weight:bold; */
  padding: 8px;
}



/* định dạng thêm tài khoản */


.addAccount {
  position: relative;
  width: 440px;
  height: 680px;

  background: #000000;
  padding-top: 20px;
  margin-top: 2px;
  border: 2px solid rgb(144, 143, 143);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;

}

.addAccount #formaddAccount table {
  margin-top: 20px;
  position: flex;
  width: 100%;
  border-collapse: collapse;
}

.addAccount #formaddAccount table tr {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding-left: 30px;


}



input[type="text"],
input[type="date"],
#pakage {

  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;

  width: 370px;
  height: 56px;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
}

#package option {
  color: #000000;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  /* Đặt icon trong khung */
  right: 35px;
  /* Căn về bên phải */
  z-index: 1;
  /* Đảm bảo biểu tượng nằm trên cùng */
  cursor: pointer;
  /* Thêm con trỏ chuột */
  color: #f7f7f7;
  /* Màu sắc icon */
}

input[type="text"]:focus,
input[type="date"]:focus,
#pakage:focus {
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

input[type="submit"] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 24px;
  gap: 10px;

  width: 77px;
  height: 36px;

  background: #296265;
  border-radius: 5px;
}

.addAccount #add {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 24px;
  gap: 10px;

  width: 77px;
  height: 36px;

  background: #296265;
  border-radius: 5px;
  margin-left: 292px;

}

.addAccount #return {
  display: flex;
  margin-left: 50px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  z-index: 1000;
}

.addAccount #return:hover {
  background: rgba(243, 241, 241, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);

}

option {
  color: #dfdada;
  /* Màu chữ cho các tùy chọn */
  background-color: #333;
  /* Màu nền của menu dropdown */
}

.box {
  position: relative;
  padding-left: auto;
  padding-right: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

#updateaccount {
  display: flex;
}

.addAccount #formaddAccount2 table {
  margin-top: 20px;
  position: flex;
  width: 100%;
  border-collapse: collapse;
}

#updateaccount #formaddAccount2 table tr {
  display: flex !important;
  /* Cưỡng chế flex */
  flex-direction: column;
  margin: 10px;
  padding-left: 13px;


}