body {
    background-color: #000;
    background-image: url('/public/assets/img/img_bg_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    width: 100%;
    height: 100vh; /* Ensure full viewport height */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.navigation-buttons {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 0;
}

.left-button,
.right-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.left-button img,
.right-button img {
    filter: brightness(0) invert(1);
    width: 50.74px;
    height: 50.76px;
}

.left-button:hover img,
.right-button:hover img {
    transform: scale(1.1);
}

.container-1 {
    width: 1040px;
    height: 101px;
    margin-bottom: 100px;
    position: absolute;
    top: 100px;
    text-align: center;
}

.container-1-h2 {
    font-weight: 800;
    font-size: 80px;
}

.white-text {
    color: white;
}

.gradient-text {
    background: linear-gradient(90deg, #296265 0%, #344A5C 38%, #3F2F52 70%, #471C4B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-2 {
    width: 712px;
    height: 1000px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 10px;
    text-align: left;
    position: absolute;
    top: 350px;
}

.container-2-top {
    width: 552px;
    margin: 10px auto;
    margin-top: 50px;
}

label{
    color: white;
    font-weight: 800;
    font-size: 24px;
    display: block;
}

input {
    width: 552px;
    height: 60px;
    background-color: transparent;
    color: #ffff;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
}

.forget-password-container {
    text-align: right;
}

.forget-password {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
}

.sign-in {
    width: 552px;
    height: 80px;
    font-size: 24px;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(to right, #296265 0%, #344A5C 38%, #3F2F52 70%, #471C4B 100%);
}

button:hover {
    background-color: #3F2F52;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.container-2-center {
    width: 552px;
    margin: 10px auto;
    margin-top: 50px;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    margin-bottom: 50px;
}

.custom-line-1 {
    border: none;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    width: 200px;
}

.social-button {
    width: 552px;
    height: 80px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    margin-bottom: 50px;
    background: transparent;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 552px;
    height: 80px;
    font-size: 24px;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.container-2-bottom {
    width: 552px;
    margin: 10px auto;
    text-align: center;
    margin-top: 50px;
}

.normal-text {
    color: rgba(255, 255, 255, 0.5);
}

.custom-line { 
    border: none;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    width: 505px;
    margin-bottom: 50px;
}

.hoac-text {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.icon {
    width: 33px;
    height: 33px;
    margin-right: 20px;
}

.sign-up{
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: white;
}

.input-container{
    position: relative;
    width: 552px;
}

.iconPass {
    position: absolute;
    right: 10px;
    top: 25px; 
    cursor: pointer; 
    width: 30px; 
    height: 30px; 
    filter: brightness(0) invert(1);
}

.error-message {
    color: #ff4c4c; /* Màu đỏ nổi bật */
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ================= Tablet (iPad 768x1024) ================= */
@media (max-width: 768px) and (max-height: 1024px) {
    body {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: auto; /* Cho phép cuộn khi nội dung dài hơn chiều cao */
    }

    .container-1 {
        width: 90%; /* Giảm chiều rộng để phù hợp với màn hình tablet */
    }

    .container-1-h2 {
        font-size: 60px; /* Giảm kích thước font cho vừa màn hình iPad */
    }

    .container-2 {
        width: 85%; /* Điều chỉnh chiều rộng của container */
        padding: 20px;
        max-height: 1024px; /* Giới hạn chiều cao tối đa của container-2 */
        overflow-y: auto; /* Cho phép cuộn dọc nếu cần */
        top: 300px;
    }

    input {
        width: 100%; /* Đảm bảo các input full chiều rộng */
        font-size: 16px; /* Điều chỉnh font cho phù hợp */
    }

    .sign-in, .social-button {
        font-size: 20px; /* Thay đổi kích thước font cho các nút */
        height: 70px;
    }

    .sign-in {
        margin-left: 10px;
    }

    .iconPass {
        top: 20px;
        width: 25px;
        height: 25px;
    }
}

/* ================= Tablet (iPhone 12 Pro 400x900) ================= */
@media (max-width: 400px) and (max-height: 900px) {
    body {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: auto; /* Cho phép cuộn khi nội dung dài hơn chiều cao */
    }

    .container-1 {
        width: 90%; /* Giảm chiều rộng để phù hợp với màn hình tablet */
    }

    .container-1-h2 {
        font-size: 60px; /* Giảm kích thước font cho vừa màn hình iPad */
    }

    .container-2 {
        width: 350px; /* Điều chỉnh chiều rộng của container */
        padding: 10px;
        max-height: 900px; /* Giới hạn chiều cao tối đa của container-2 */
        overflow-y: auto; /* Cho phép cuộn dọc nếu cần */
    }

    .container-2-top {
        width: 330px;
    }

    input {
        width: 100%; /* Đảm bảo các input full chiều rộng */
        font-size: 16px; /* Điều chỉnh font cho phù hợp */
        max-width: 300px;
        justify-content: center;
    }

    .sign-in, .social-button {
        font-size: 14px; /* Thay đổi kích thước font cho các nút */
        height: 50px;
        max-width: 300px;
    }

    .container-2-center {
        width: 330px;
    }

    .iconPass {
        top: 30px;
        width: 25px;
        height: 25px;
        right: 270px;
        align-self: center;
    }

    .container-2-bottom{
        width: 330px;
    }
    
    .custom-line {
        width: 300px;
    }

    u {
        font-size: 20px;
    }
}


